* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-weight: 400;
  background-color: #464548;
}

.wrapper {
  display: flex;
  background-image: url("/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.menuIcon {
  padding: 58px;
  background-color: #3f3f3f;
}

.left-sidebar {
  border-right: 1px solid #3f3f3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials img {
  margin-top: 57px;
  /* margin-bottom: 30px; */
}

.main-wrapper {
  width: 1800px;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.main {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
  align-items: center;
  margin-bottom: 161px;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 58px;
}

.menu-items li {
  list-style-type: none;
  font-size: 16px;
}

.menu-items li a {
  text-decoration: none;
  color: #fff;
  /* margin-right: 58px; */
  font-weight: 500;
}

.search-icon {
  margin-right: 0 !important;
}

.active {
  color: #d7c6a1 !important;
  padding-bottom: 30px;
  border-bottom: 1px solid #d7c6a1;
}

.body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 215px;
  /* padding-right: 75px;
  padding-left: 88px; */
}


.line {
  max-width: 278px;
  /* width: 100%; */
  height: 2px;
  background: linear-gradient(90deg, #d7c6a1 70%, #555557 30%);
  margin-bottom: 18px;
  margin-top: 11px;
}

.zero-one {
  color: #fff;
}

.WC {
  color: #fff;
  margin-bottom: 18px;
}

.collections {
  color: #646466;
  margin-bottom: 13px;
}

.right-heading {
  width: 100%;
  max-width: 200px;
  font-size: 73px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #fff;
}

.right-desc {
  width: 100%;
  max-width: 300px;
  letter-spacing: 7%;
  font-size: 18px;
  color: #848386;
}

.footer {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  max-width: 100%;
}

.footer-data {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 40px 0 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

/* .column {
  width: 30%;
} */

.bag {
  /* max-width: 300px; */
  width: 70%;
}

.event {
  margin-bottom: 40px;
  font-size: 14px;
  letter-spacing: 22%;
  color: #fff;
}

.place {
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 6%;
  color: #a0a0a0;
}

.date {
  margin-bottom: 40px;
  font-size: 14px;
  max-width: 261px;
  width: 100%;
  letter-spacing: 6%;
  color: #fff;
}

.place-second {
  margin-top: 60px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 6%;
  color: #a0a0a0;
}

.read-more {
  color: #d7c6a1;
  font-size: 14px;
  font-weight: 500;
}


@media screen and (max-width: 1610px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1536px) {
  .right-heading {
    font-size: 43px;
  }

  .right-desc {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1000px;
  }
}


@media screen and (max-width: 1210px) {
  .container {
    max-width: 800px;
  }
  
  .footer-data {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 600px;
  }

  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-items {
    display: none;
  }

  .left-side {
    margin-bottom: 30px;
    max-width: 400px;
    width: 100%;
  }

  .menu {
    align-items: center;
    align-self: center;
    justify-content: center ;
  }

  .right-heading {
    max-width: 400px;
    text-align: center;
  }

  .right-desc {
    max-width: 400px;
    text-align: center;
  }

  .line {
    max-width: 400px;
  }

  .menuIcon {
    padding: 50px;
  }

  .column {
    width: 100%;
  }

  .left-side {
    text-align: center;
  }
}

@media screen and (max-width: 800px) { 
  .container {
    max-width: 400px;
  }

  .footer-data {
    grid-template-columns: 1fr;
    row-gap: 40px;
    place-items: center;
  }

  .column {
    width: 90%;
  }

}

@media screen and (max-width: 600px) { 
  .menuIcon {
    padding: 40px;
  }
}